
 
 <div class="container-fluid" >
    <h1>QUOTES</h1>
    <img src="assets/images/like-dislike.png">
  </div>

  <app-form (emitQuote)="addQuote($event)"></app-form>

  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <hr>
        <div  class="myQuote"*ngFor="let quote of quotes; let i=index">
          <p appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p>
          <p  *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p>
          <app-details [quote]="quote"></app-details>

        


          <button class="btn btn-primary" (click)="upvote(i)">Upvote</button>
          <button class="btn" (click)="downvote(i)">Downvote</button>
          <button class="btn btn-danger" (click)="delQuote(i)">Delete</button>

          <hr>

        </div>
      </div>
    </div>
  </div>