/* You can add global styles to this file, and also import other style files */
.container{
    background-color: beige;
}
button{
    background-color: lightblue;
}
well{
    background-color: bisque;
}
input{
    background-color:antiquewhite;
}
h1{
    text-decoration: blue;
    text-align: center;
}
