
.container{
    background-color: beige;
}
button{
    background-color: lightblue;
}
well{
    background-color: bisque;
}
input{
    background-color:antiquewhite;
}
h1{
    text-decoration: blue;
    text-align: center;
}
